In [58]:
import pandas as pd
import xlrd
#data = pd.read_excel('data.xlsx', sheet_name='Sheet2')

In [54]:
path = "/Users/alphaobelisk/Desktop/DataAnalitycs/Getting Started with Analytics (Data) Engineering/data-engineering/DE-101 Modules/Module01/DE - 101 Lab 1.1/Sample - Superstore - Dashboard.xlsx"

In [61]:
df = pd.read_excel(path, sheet_name='Orders')

/Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages/openpyxl/worksheet/header_footer.py:48: UserWarning: Cannot parse header or footer so it will be ignored
  warn("""Cannot parse header or footer so it will be ignored""")

In [62]:
df.shape

(9994, 23)

In [64]:
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Person,Returned
0,1,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136,Cassandra Brandow,No
1,2,CA-2018-152156,2018-11-08,2018-11-11,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820,Cassandra Brandow,No
2,3,CA-2018-138688,2018-06-12,2018-06-16,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714,Anna Andreadi,No
3,4,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310,Cassandra Brandow,No
4,5,US-2017-108966,2017-10-11,2017-10-18,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164,Cassandra Brandow,No

In [77]:
df.groupby("Ship Date") \
    .agg({'Sales': "count"})

            Sales
Ship Date
2016-01-07      2
2016-01-08      4
2016-01-10      7
2016-01-12      3
2016-01-13      2
...           ...
2020-01-01     20
2020-01-02      8
2020-01-03      7
2020-01-04      5
2020-01-05      2

[1334 rows x 1 columns]

In [7]:
x_1 = (1.2, "Hi", 5)

In [9]:
type(x_1)

tuple

In [10]:
x_2 = [1.2, "Hi", 5]

In [11]:
type(x_2)

list

In [12]:
x_3 = {1.2, "Hi", 5}

In [13]:
type(x_3)

set

In [20]:
x_4 = {"Hello": 1, "Bye": 2}

In [21]:
type(x_4)

dict

In [24]:
x_4["Bye"]

2